@model VNUA.FITA.MQTT.HRM.Data.Model.DonTu

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Hủy</h1>
<h3>Bạn muốn hủy lá đơn này?</h3>
<p>@Html.DisplayFor(model => model.TieuDe)</p>
<div style="margin:auto;">
    <h4>sau khi hủy bạn không thể thao tác trên lá đơn này nữa!</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TieuDe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TieuDe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NoiDung)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NguoiNhan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NguoiNhan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhanLoai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhanLoai)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGian)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ThoiGian)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NhanViens)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NhanViens.IdNhanVien)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdDonTu" />
        <input type="submit" value="Hủy" class="btn btn-danger" /> |
        <a asp-action="Danhsachdontu">Trở về danh sách</a>
    </form>
</div>
