@model VNUA.FITA.MQTT.HRM.Data.Model.DonTu

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hủy</h1>

<h3>Bạn muốn hủy lá đơn này?</h3>
<p>@Html.DisplayFor(model => model.TieuDe)</p>
<div style="margin:auto;">
    <h4>sau khi hủy bạn không thể thao tác trên lá đơn này nữa!</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <span>Tiêu đề</span>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TieuDe)
        </dd>
        <dt class = "col-sm-2">
            <span>Nội dung</span>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDung)
        </dd>
        <dt class = "col-sm-2">
            <span>Trạng thái</span>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            <span>Ghí chú</span>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
        <dt class = "col-sm-2">
            <span>Người nhận</span>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiNhan)
        </dd>
        <dt class = "col-sm-2">
            <span>Phân loại</span>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhanLoai)
        </dd>
        <dt class = "col-sm-2">
            <span>Thời gian</span>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGian)
        </dd>
        <dt class = "col-sm-2" hidden>
            @Html.DisplayNameFor(model => model.NhanViens)
        </dt>
        <dd class = "col-sm-10" hidden>
            @Html.DisplayFor(model => model.NhanViens.IdNhanVien)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdDonTu" />
        <input type="submit" value="Hủy" class="btn btn-danger" /> |
        <a asp-action="Danhsachdontu">Trở về danh sách</a>
    </form>
</div>
