@model IEnumerable<VNUA.FITA.MQTT.HRM.Data.Model.GiayTo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Quản lí thông tin giấy tờ</h1>
<div class="row">
    <div class="col-md-6 col-xs-12">
       
    </div>
    <div class="col-md-6 col-xs-12">
        <form asp-action="Index" method="get" class="form-inline">
            <div class="row">  
                <div class="col-md  ">
                    
                    <div class="row">
                        <div class="form-inline">
                            <select name="cars" id="cars">
                                <div class="col">
                                <option value="@ViewData["CurrentFilter"]">chưa duyệt</option>
                        </div>

                        <div class="col">
                            <option value="@ViewData["CurrentFilter"]">Đã duyệt</option>
                        </div>
                        </select>


                        <button type="submit" class="btn btn-primary" value="Search">Tìm</button>
                        <button type="button" onclick="window.location.href='/QLgiayto/Index'" class="btn btn-dark">Hủy</button>
                    </div>
                    </div>
                        </div>
            </div>
        </form>
    </div>

        
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenGT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhanViens)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenGT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Anh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThoiGian)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrangThai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NhanViens.IdNhanVien)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaGT">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MaGT">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaGT">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
