@model IEnumerable<VNUA.FITA.MQTT.HRM.Data.Model.Luong>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Tra cứu lương</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
        <li class="breadcrumb-item">Tra cứu lương</li>
    </ol>
</div>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <p>
            <a href="#"></a>
        </p>

    </div>
    <div class="col-md-6 col-xs-12">
        <form asp-action="Index" method="get" class="form-inline">
            <div class="row">
                <div class="col-md-6 col-xs-12">

                    <input type="datetime" value="@ViewData["CurrentFilter"]" name="SearchString" class="form-control"  />

                </div>
                <div class="col-md-6 col-xs-12">

                    <button type="submit" class="btn btn-primary" value="Search">Lọc</button>
                    <button type="button" onclick="window.location.href='/Luongs/Index'" class="btn btn-dark">Reset</button>
                </div>
            </div>

        </form>
    </div>
</div>
<table class="table table-hover table-striped table-head-bg-primary">
    <thead>
        <tr>
            <th>
                <span>Lương cơ bản</span>
            </th>
            <th>
                <span>Hệ số</span>
            </th>
            <th>
                <span>Phí phạt</span>
            </th>
            <th>
                <span>Phí thuế</span>
            </th>
            <th>
                <span>Lương thực nhận</span>
            </th>
            <th>
                <span>Thời gian</span>
            </th>
            <th>
                <span>Trạng thái</span>
            </th>
           
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LCoBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeSo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhiPhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhiThue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LThucNhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            
            
        </tr>
}
    </tbody>
</table>
