@model IEnumerable<VNUA.FITA.MQTT.HRM.Data.Model.Luong>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <span>Lương cơ bản</span>
            </th>
            <th>
                <span>Hệ số</span>
            </th>
            <th>
                <span>Phí phạt</span>
            </th>
            <th>
                <span>Phí thuế</span>
            </th>
            <th>
                <span>Lương thực nhận</span>
            </th>
            <th>
                <span>Thời gian</span>
            </th>
            <th>
                <span>Trạng thái</span>
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.NhanViens)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LCoBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeSo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhiPhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhiThue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LThucNhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.NhanViens.IdNhanVien)
            </td>
            
        </tr>
}
    </tbody>
</table>
