@model IEnumerable<VNUA.FITA.MQTT.HRM.Data.Model.ChamCong>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhanViens)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhanViens.IdNhanVien)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCong">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCong">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCong">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
