@model PaginatedList<VNUA.FITA.MQTT.HRM.Data.Model.ChamCong>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<div class="container-fluid">
    <h1 class="mt-4">Thống kê danh sách chấm công</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
        <li class="breadcrumb-item active"> Chấm công</li>
    </ol>
    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">

                    <a asp-action="Create"  class="btn btn-primary">Thực hiện chấm công</a>

                </div>

                <div class="col-md-6 col-xs-12">
                    <form asp-action="Index" method="get" class="form-inline">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">

                                <input type="text" value="@ViewData["CurrentFilter"]" name="SearchString" class="form-control" placeholder="Nhập từ khóa tìm kiếm" />

                            </div>
                            <div class="col-md-6 col-xs-12">

                                <button type="submit" class="btn btn-primary" value="Search">Tìm</button>
                                <button type="button" onclick="window.location.href='/ChamCong/Index'" class="btn btn-dark">Hủy</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
   
    <div class="table-responsive">
        <table class="table table-hover table-striped table-head-bg-primary" style="text-align:center;">
            <thead>
                <tr>
                    <th>
                        <span>Nhân Viên</span>
                    </th>
                    <th>
                        <span>Thời Gian</span>
                    </th>
                    <th>
                        <span>Trạng Thái</span>
                    </th>
                    <th>
                        <span>Ghi Chú</span>
                    </th>

                    <th>Thao Tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var tm = "#myModal" + item.IdCong;
                    var mid = "myModal" + item.IdCong;
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NhanViens.IdNhanVien)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ThoiGian)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TrangThai)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GhiChu)
                        </td>

                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IdCong">
                                <span class="btn btn-sm btn-outline-primary">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </span>
                            </a> 
                            <a asp-action="Details" asp-route-id="@item.IdCong">
                                <span class="btn btn-sm btn-outline-dark">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </span>    
                            </a> 
                            <a asp-action="Delete" asp-route-id="@item.IdCong">
                                <span class="btn btn-sm btn-outline-danger">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </span>
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn  btn-primary @prevDisabled">
            Trước
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn  btn-primary @nextDisabled">
            Sau
        </a>
        </div>
</div>

