@model VNUA.FITA.MQTT.HRM.Data.Model.GiayTo

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Hủy giấy tờ</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
        <li class="breadcrumb-item active">@Html.DisplayFor(model => model.TenGT)</li>
    </ol>
</div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <span>Tên giấy tờ</span>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenGT)
        </dd>
        <dt class = "col-sm-2">
            <span>Ảnh</span>
        </dt>
        <dd class = "col-sm-10">
            <img src="@("/assets/img/"+Model.Anh)" alt="Alternate Text" />
        </dd>
        <dt class = "col-sm-2">
            <span>Thời gian</span>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGian)
        </dd>
        <dt class = "col-sm-2">
            <span>Trạng thái</span>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2" hidden>
            @Html.DisplayNameFor(model => model.NhanViens)
        </dt>
        <dd class = "col-sm-10" hidden>
            @Html.DisplayFor(model => model.NhanViens.IdNhanVien)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaGT" />
        <input type="submit" value="Hủy" class="btn btn-danger" /> |
        <a asp-action="Index">Trở lại danh sách</a>
    </form>
</div>
