@model VNUA.FITA.MQTT.HRM.Data.Model.GiayTo

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GiayTo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenGT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenGT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGian)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhanViens)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhanViens.IdNhanVien)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaGT" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Danhsachdontu">Back to List</a>
    </form>
</div>
