@model IEnumerable<VNUA.FITA.MQTT.HRM.Data.Model.GiayTo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">danh sách giấy tờ</h1>

<p>
    <a asp-action="Create" style="margin-left:20px;">Bổ sung giấy tờ</a>
</p>
<body>
<table class="table text-center">
    <thead>
        <tr>
            <th>
                <h5>Tên giấy tờ</h5>
            </th>
            <th>
               <h5>Ảnh</h5>
            </th>
            <th>
                <h5>Thời gian</h5>
            </th>
            <th>
               <h5>Trạng thái</h5>
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenGT)
                </td>
                <td>
                    <img src="@("/assets/img/"+item.Anh)" alt="Alternate Text" style="width:200px; height:200px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThoiGian)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrangThai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NhanViens.IdNhanVien)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaGT">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MaGT">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaGT">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="dialog" style="display: none"></div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/themes/start/jquery-ui.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
<script type="text/javascript">
        $(function () {
            $("#dialog").dialog({
                autoOpen: false,
                modal: true,
                height: 600,
                width: 600,
                title: "Zoomed Image"
            });
            $(".Grid img").click(function () {
                $('#dialog').html('');
                $('#dialog').append($(this).clone());
                $('#dialog').dialog('open');
            });
        });
</script>
    </body>