@model IEnumerable<VNUA.FITA.MQTT.HRM.Data.Model.GiayTo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["AlertMessage"] != null)
{
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong> Thành Công! </strong> @TempData["AlertMessage"]
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"/>
        <span aria-hidden="true">&times;</span>
</div>
}
<div class="container-fluid">
    <h1 class="mt-4">Danh sách giấy tờ</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
        <li class="breadcrumb-item active"> Giấy tờ</li>
    </ol>
</div>

<body>
    <div class="card-body">
        <div class="table-responsive">
            <div class="dataTables_wrapper container-fluid dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length">
                            <p>
                                <a asp-action="Create" style="margin-left:20px;">Bổ sung giấy tờ</a>
                            </p>
                        </div>
                        </div>
                        </div>

                        <table  class="display table table-striped table-hover dataTable" role="grid" id="basic-datatables" aria-describedby="basic-datatables_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-controls="basic-datatables">
                                        <span>Tên giấy tờ</span>
                                    </th>
                                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-controls="basic-datatables">
                                        <span>Ảnh</span>
                                    </th>
                                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-controls="basic-datatables">
                                        <span>Thời gian</span>
                                    </th>
                                    <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-controls="basic-datatables">
                                        <span>Trạng thái</span>
                                    </th>
                                    <th hidden>
                                        @Html.DisplayNameFor(model => model.NhanViens)
                                    </th>
                                    <th scope="col">
                                        <span>Hành động</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TenGT)
                                        </td>
                                        <td>
                                            <img src="@("/assets/img/"+item.Anh)" alt="Alternate Text" style="width:200px; height:200px;" />
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ThoiGian)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TrangThai)
                                        </td>
                                        <td hidden>
                                            @Html.DisplayFor(modelItem => item.NhanViens.IdNhanVien)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.MaGT">Sửa</a> |
                                            <a asp-action="Details" asp-route-id="@item.MaGT">Chi tiết</a> |
                                            <a asp-action="Delete" asp-route-id="@item.MaGT">Hủy</a> |
                                        </td>
                                    </tr>



                                }
                            </tbody>
                        </table>
                    </div>
                </div>
    </div>
</body>