@model VNUA.FITA.MQTT.HRM.Data.Model.DonTu

@{
    ViewData["Title"] = "ChitietDon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <p class="h3">@Model.TieuDe</p>
    <hr />
    <dl class="row">
        <dt class="col-sm-2"><label asp-for="TieuDe"></label></dt>
        <dd class="col-sm-10">@Model.TieuDe</dd>
        <dt class="col-sm-2"><label asp-for="NoiDung"></label></dt>
        <dd class="col-sm-10">@Model.NoiDung</dd>
        <dt class="col-sm-2"><label asp-for="TrangThai"></label></dt>
        <dd class="col-sm-10">@Model.TrangThai</dd>
        <dt class="col-sm-2"><label asp-for="GhiChu"></label></dt>
        <dd class="col-sm-10">@Model.GhiChu</dd>
        <dt class="col-sm-2"><label asp-for="NguoiNhan"></label></dt>
        <dd class="col-sm-10">@Model.NguoiNhan</dd>
        <dt class="col-sm-2"><label asp-for="PhanLoai"></label></dt>
        <dd class="col-sm-10">@Model.PhanLoai</dd>
        <dt class="col-sm-2"><label asp-for="ThoiGian"></label></dt>
        <dd class="col-sm-10">@Model.ThoiGian</dd>
    </dl>
</div>
<hr />
<div>
    <a asp-action="Danhsachdon" class="btn btn-sm btn-outline-secondary">Back to List</a>
</div>