@model IEnumerable<VNUA.FITA.MQTT.HRM.Data.Model.DonTu>

@{
    ViewData["Title"] = "Danhsachdon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class=" text-center text-primary">Danh sách đơn</h1>

<p>
    <a asp-action="GuiDonTu" style="margin-left:20px;">Gửi đơn mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                tiêu đề
            </th>
            <th>
                nội dung
            </th>
            <th>
                Trạng thái
            </th>
           
            <th>
                người nhận
            </th>
            <th>
                Phân loại
            </th>
            <th>
                Thời gian
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TieuDe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoiDung)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrangThai)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.NguoiNhan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhanLoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThoiGian)
                </td>
                <td>
                    <a asp-action="SuaDontu" asp-route-id="@item.IdDonTu">Sửa</a> |
                    <a asp-action="ChitietDon" asp-route-id="@item.IdDonTu">Xem chi tiết</a> |
                    <a asp-page-handler="Delete" onclick="DisplayConfirmDeleteModal('@item.IdDonTu')">Yêu cầu hủy</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="deletemodal"  role="dialog">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xác nhận hủy yêu cầu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <p>bạn thực sự muốn hủy yêu cầu đơn này</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary">Lưu thay đối</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    
    <script type="text/javascript">
        function DisplayConfirmDeleteModal(IdDonTu) {
            $("#deletemodal").modal('show')
        }
    </script>
}
