@model IEnumerable<VNUA.FITA.MQTT.HRM.Data.Model.Luong>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Quản lý lương</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Lương Cơ Bản
            </th>
            <th>
               Hệ Số Lương
            </th>
            <th>
               Phí Phát
            </th>
            <th>
               Phí Thuế
            </th>
            <th>
               Lương Thực Nhận
            </th>
            <th>
               Thời gian
            </th>
            <th>
               Trạng Thái
            </th>
            <th>
                Nhân Viên
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LCoBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeSo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhiPhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhiThue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LThucNhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhanViens.IdNhanVien)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaLuong">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaLuong">Details</a> |
               
            </td>
        </tr>
}
    </tbody>
</table>
