@model VNUA.FITA.MQTT.HRM.Data.Model.NhanVien

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hiển thị chi tiết thông tin nhân viên</h1>

<div>
    <h4>Nhân Viên</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaNhanVien)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaNhanVien)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SDT)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SDT)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChucVu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChucVu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anh)
        </dt>
        <dd class="col-sm-10">
            <img src="@("/assets/img/"+Model.Anh)" alt="Alternate Text" style="width:200px;height:200px;" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SoCCCD)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SoCCCD)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrinhDo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrinhDo)
        </dd>
        <dt class="col-sm-2" hidden>
            @Html.DisplayNameFor(model => model.BoPhans)
        </dt>
        <dd class="col-sm-10" hidden>
            @Html.DisplayFor(model => model.BoPhans.IdBoPhan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdNhanVien">Cập Nhật</a> |
    <a asp-action="Index">Quay lại danh sách nhân viên</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
