@model PaginatedList<VNUA.FITA.MQTT.HRM.Data.Model.NhanVien>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>
    .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    #nhanvien th, #nhanvien td {
        border: 1px solid #ddd;
        padding: 8px;
    }
</style>
@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}
<div class="container-fluid">
    <h1 class="mt-4">Quản lý thông tin nhân viên</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Thông tin nhân viên</li>
    </ol>
    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">

                    <a class="btn btn-success" asp-action="Create">Thêm nhân viên</a>

                </div>
                
                <div class="col-md-6 col-xs-12">
                    <form asp-action="Index" method="get" class="form-inline">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">

                                <input type="text" value="@ViewData["CurrentFilter"]" name="SearchString" class="form-control" placeholder="Nhập từ khóa tìm kiếm" />

                            </div>
                            <div class="col-md-6 col-xs-12">

                                <button type="submit" class="btn btn-primary" value="Search">Tìm</button>
                                <button type="button" onclick="window.location.href='/NhanVien/Index'" class="btn btn-dark">Reset</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                @if (ViewBag.SuccessMsg != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.SuccessMsg
                    </div>
                }
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-head-bg-primary">

                        <tr>
                            <th>
                                STT
                            </th>
                            <th>
                                Hình Ảnh
                            </th>
                            <th>
                                <i class="fa-regular fa-arrow-up-arrow-down" asp-route-sortOrder="@ViewData["MaNhanVien"]" asp-action="Index"></i>
                                @Html.ActionLink("MaNhanVien", "Index", new { sortOrder = @ViewData["MaNhanVien"], currentFilter = @ViewData["CurrentFilter"] })
                            </th>
                            <th>
                                <i class="fa-regular fa-arrow-up-arrow-down" asp-route-sortOrder="@ViewData["HoTen"]" asp-action="Index"></i>

                                @Html.ActionLink("HoTen", "Index", new { sortOrder = @ViewData["HoTen"], currentFilter = @ViewData["CurrentFilter"] })
                            </th>
                            <th>
                                Giới Tính
                            </th>
                            <th>
                                Ngày Sinh
                            </th>
                            <th>
                                Số điện thoại
                            </th>

                            <th>
                                Địa Chỉ
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Học Vấn
                            </th>
                            <th>
                                Chức Vụ
                            </th>
                            <th>
                                Số Căn Cước
                            </th>

                            <th>
                                Thao Tác
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdNhanVien)
                                </td>
                                <td>
                                    <img src="@item.Anh" alt="" class="avatar">
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaNhanVien)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HoTen)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GioiTinh)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NgaySinh)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SDT)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.DiaChi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email);
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TrinhDo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ChucVu)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SoCCCD)
                                </td>

                                <td>
                                    <div class="btn-group">
                                        <a asp-action="Edit" asp-route-id="@item.IdNhanVien" class="btn btn-sm btn-info">Cập Nhật</a>
                                        <a asp-action="Details" asp-route-id="@item.IdNhanVien" class="btn btn-sm btn-primary ml-1">Xem chi tiết</a>
                                        <a asp-action="Delete" asp-route-id="@item.IdNhanVien" class="btn btn-sm btn-danger ml-1">Xóa</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                @{
                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }

                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default @prevDisabled">
                    Previous
                </a>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default @nextDisabled">
                    Next
                </a>
            </div>
        </div>
    </div>
</div>
