@model PaginatedList<VNUA.FITA.MQTT.HRM.Data.Model.NhanVien>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<div class="container-fluid">
    <h1 class="mt-4">Danh Sách Tài Khoản</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
        <li class="breadcrumb-item active">Thông tin tài khoản</li>
    </ol>
    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-2 col-xs-12">

                    <a class="btn btn-primary" asp-action="Create" style="margin-left:20px;">Tạo Tài Khoản</a>
                </div>
                <div class="col-md-4 col-xs-12">


                </div>

                <div class="col-md-6 col-xs-12">
                    <form asp-action="Index" method="get" class="form-inline">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">

                                <input type="text" value="@ViewData["CurrentFilter"]" name="SearchString" class="form-control" placeholder="Nhập từ khóa tìm kiếm" />

                            </div>
                            <div class="col-md-6 col-xs-12 ">
                                <div class="row">
                                    <button type="submit" class="btn btn-primary" value="Search">Tìm Tài Khoản</button>|
                                    <button type="button" onclick="window.location.href='/TaiKhoan/Index'" class="btn btn-dark">Hủy</button>
                                </div>
                            </div>
                            
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-head-bg-primary" style="text-align:center;">
                        <thead>
                            <tr>
                                <th>
                                    <span>Mã Nhân Viên</span>
                                </th>
                                <th>
                                    <span>Họ Tên</span>
                                </th>
                                <th>
                                    <span>Tên Tài Khoản</span>
                                </th>
                                <th>
                                    <span>Số Điện Thoại</span>
                                </th>
                                <th>
                                    <span>Email</span>
                                </th>
                                <th>
                                    <span>Mật Khẩu</span>
                                </th>
                                <th>
                                    <span>Phân Quyền </span>
                                </th>
                                <th>
                                    <span>Chức Vụ</span>
                                </th>

                                <th>Thao Tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaNhanVien)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HoTen)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenTaiKhoan)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.SDT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MatKhau)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhanQuyen)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ChucVu)
                                    </td>
                                    <td>
                                        @*<a asp-action="Edit" asp-route-id="@item.IdNhanVien">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.IdNhanVien">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.IdNhanVien">Delete</a>*@
                                        <div class="btn-group">
                                            <a asp-action="Edit" asp-route-id="@item.IdNhanVien" >
                                                <span class="btn btn-sm btn-outline-primary">
                                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                                </span>
                                            </a>
                                            <a asp-action="Details" asp-route-id="@item.IdNhanVien" >
                                                <span class="btn btn-sm btn-outline-dark">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </span>
                                            </a>
                                            <a asp-action="Delete" asp-route-id="@item.IdNhanVien">
                                                <span class="btn btn-sm btn-outline-danger">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @{
                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                    }

                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-primary @prevDisabled">
                        Trước
                    </a>
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-primary @nextDisabled">
                        Sau
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>